{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1 class="main-title">Gasto fijo</h1>
            </div>
            <div class="col-4"></div>
        </div>

        <div class="main-text">
            <ul id="main-items">
            </ul>
            
        </div>

        <div class="main-text">
            <h2 id="total-spend"></h2>
        </div>


        <!--<div class="main-text">
            <label for="item1" class="l-otros">Otros gastos</label>
            <input type="text" id="item1" class="otros">
        </div>
        <div class="main-text">
            <label for="item2" class="l-otros">Otros gastos</label>
            <input type="text" id="item2" class="otros">
        </div>
        <div class="main-text">
            <label for="item2" class="l-otros">Otros gastos</label>
            <input type="text" id="item3" class="otros">
        </div>
        -->
        <div class="main-text">
            <label for="current-money">Dinero actual</label>
            <input type="text" id="current-money">
        </div>

        <div class="main-text">
            <button type="button" class="btn btn-primary" id="calc">Calcular</button>
        </div>
        <div class="main-text">
            <h2 id="result"></h2>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename = 'js/spending.js') }}"></script>

    {% endblock content %}